# Assignment - 1

## TASK -1

2. Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [1]:
import numpy as np
valid = []
for num in range(2000, 3001):
    if num%7 == 0 and num%5 != 0 :
        valid.append(num)
print(*valid, sep = ',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996

3. Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [2]:
first = input('Enter First name: ')
last = input('Enter Last name: ')
print(last, first)

Enter First name: Pramod
Enter Last name: Kachare
Kachare Pramod

4. Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r 3

In [3]:
radius = 12 # in cm
vol = (4/3)* np.pi * radius**3
print('Volume of sphere is: {} cm3'.format(vol))

Volume of sphere is: 7238.229473870882 cm3

## Task - 2

1. Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [4]:
seq = input('Enter sequence : ')
num_seq = [float(char) for char in seq.split(',')] # Using float to make sure decimal numbers are also accpeted
print('NUmber sequence :', *num_seq)

Enter sequence : 2,-3, 4.3, 0.5
NUmber sequence : 2.0 -3.0 4.3 0.5

2. Create the below pattern using nested for loop in Python.

In [5]:
for row in range(1, 10):
    if row > 10/2: # For lower triangle
        row -= 2*np.mod(row, 5) 
    for col in range(row): # To print each row
        print('*', end = ' ')
    print(end = '\n') # Go to next row

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

3. Write a Python program to reverse a word after accepting the input from the user

In [7]:
in_word = input('Enter the word: ')
out_word = in_word[-1:-len(in_word)-1:-1]
print(out_word)

Enter the word: Pramod Kachare
erahcaK domarP

4. Write a Python Program to print the given string in the format specified in the sample output. 
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

In [40]:
line = ['WE, THE PEOPLE OF INDIA,','having solemnly resolved to constitute India into a SOVEREIGN,', 'SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC', 'and to secure to all its citizens']

for i, text in enumerate(line):
    if i == 0:
        print(text)
    if i == 1:
        print('      '+text+'!')
    if i == 2:
        print('             '+text)
    if i >2 :
        print('              '+text)

WE, THE PEOPLE OF INDIA,
      having solemnly resolved to constitute India into a SOVEREIGN,!
             SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
              and to secure to all its citizens